.search-bar{
    background-color: white;
    width: 80%;
    border-radius: 46px;
    height: 5.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    position: relative;
}
 
.topic-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Outfit', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.party-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Outfit', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-right: 10px;
}

.topic-dropdown option{
    font-family: 'Outfit', 'Arial Narrow', Arial, sans-serif;
}
.party-dropdown option{
    font-family: 'Outfit', 'Arial Narrow', Arial, sans-serif;
}

.result {
    position: absolute;
    top: 120%; /*add space between the search bar and the result */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 97.7%;
    min-height: 100px; 
    max-height: 300px; /* limit max height so text doesn't overflow onto the stats */
    overflow-y: auto; /* enable scrolling */
    transition: all 0.3s ease-in-out; /* smooth transition */
}

.result p{
    color: black;
    font-family: 'Outfit', 'Arial Narrow', Arial, sans-serif;
}

#search-icon{
    color: #B4ACE2;
    width: 20px;
    font-size: 1.5rem;
}
.search-icon-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 25px;
    background-color: #04001f;
    margin-right: 10px;
}

.search-icon-holder :hover {
    cursor: pointer;
}

.spinner {
    animation: spin 2s linear infinite;
    font-size: 2em;
    margin-right: 12px;
    align-items: center;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
}

.help-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #555;
    margin-left: 15px;
    padding-top: 5px;
}
  
.help-popup {
    position: absolute;
    top: 50px;
    right: 10px;
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
}
  
.help-popup p {
    color: #000;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #888;
}
  
.close-button:hover {
    color: #000;
}

#question {
    color: #04001f;
}