.search-bar{
    background-color: white;
    width: 70%;
    border-radius: 2px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    position: relative;
}
 
input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}
  
.recommendations {
    position: absolute;
    top: 100%; /* Position the dropdown below the input */
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000; /* Ensure the dropdown appears above other elements */
    max-height: 200px; /* Limit the height of the dropdown */
    overflow-y: auto; /* Add scroll if there are many recommendations */
    border-radius: 4px;
}
  
.recommendations li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
  
.recommendations li:hover {
    background-color: #f0f0f0;
}

.topic-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Outfit', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.topic-dropdown option{
    font-family: 'Outfit', 'Arial Narrow', Arial, sans-serif;
}

.result {
    position: absolute;
    top: 120%; /*add space between the search bar and the result */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 97.7%;
    min-height: 100px; 
    max-height: 300px; /* limit max height so text doesn't overflow onto the stats */
    overflow-y: auto; /* enable scrolling */
    transition: all 0.3s ease-in-out; /* smooth transition */
}

.result p{
    color: black;
    font-family: 'Outfit', 'Arial Narrow', Arial, sans-serif;
}

#search-icon{
    color: royalblue;
    width: 20px;
    font-size: 1.5rem;
}

.search-icon-holder :hover {
    cursor: pointer;
}

.spinner {
    animation: spin 2s linear infinite;
    font-size: 2em;
    margin-right: 12px;
    align-items: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
  }