.graphs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* flexible grid */
    gap: 20px; /* spacing between charts */
    padding: 20px;
    height: 500px;
}
  
.chart-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}
  
.no-charts {
    text-align: center;
    font-size: 18px;
    color: #666;
    padding: 20px;
}

.chart-item svg {
    width: 100%;
  }