.graphs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* flexible grid */
    gap: 20px; /* spacing between charts */
    justify-content: center;
    padding: 20px;
    height: 500px;
}

@media (min-width: 900px) {
    .graphs-container {
        grid-template-columns: repeat(2, 1fr); /* Max 3 per row */
    }
}

/* if there's only one graph, center it */
@media (max-width: 400px) {
    .graphs-container {
        grid-template-columns: 1fr; /* single column layout */
    }
}
  
.chart-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}
  
.no-charts {
    text-align: center;
    font-size: 18px;
    color: #666;
    padding: 20px;
    font-family: 'Outfit', 'Arial Narrow', Arial, sans-serif;
}

.chart-item svg {
    width: 100%;
}

.chart-help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.help-button2 {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #555;
    padding-top: 5px;
}
  
.help-popup2 {
    position: relative;
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    width: 260px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
    width: 100%;
}

.help-popup2 p {
    color: #000;
}
  
.close-button2 {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #888;
}
  
.close-button2:hover {
    color: #000;
}