.party-stats {
    /* border: 1px solid #ccc; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .party-stats h2 {
    margin-top: 0;
    font-size: 22px;
    color: #000000;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* two columns for stats */
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .stat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .stat-label {
    color: #292929;
    font-family: 'Outfit', 'Arial Narrow', Arial, sans-serif;
  }
  
  .stat-value {
    font-weight: bold;
    color: #000000;
    font-family: 'Outfit', 'Arial Narrow', Arial, sans-serif;
  }
  
  .overall-stat {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
  }
  
  .no-stats {
    text-align: center;
    font-size: 16px;
    color: #666;
  }