.party-analysis {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #f8f9fa;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.party-analysis h2 {
    text-align: center;
    color: black;
    padding-bottom: 5px;
}

.party-analysis h3 {
    text-align: center;
    color: black;
}
  
.sentiment-info {
    background: #B4ACE2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.sentiment-info p {
    color: black;
}
  
.tables-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
  
.table-wrapper {
    flex: 1;
    text-align: center;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
  
.no-data {
    font-size: 18px;
    color: red;
}
  